.personal{
  background: rgba(255, 255, 255, .5);
  padding: 0px;
  position:absolute;
  top: 50%;
  left: 50%;
  width:70em;
  height:100em;
  margin-top: -13em; /*set to a negative number 1/2 of your height*/
  margin-left: -35em; /*set to a negative number 1/2 of your width*/  
  border-radius: 30px;
}
.frm{
  background: rgba(227, 234, 243, 0.5);
  padding: 0px;
  position:absolute;
  top: 22%;
  left: 54.8%;
  width:63em;
  height:88em;
  margin-top: -14em; /*set to a negative number 1/2 of your height*/
  margin-left: -35em; /*set to a negative number 1/2 of your width*/  
  border-radius: 30px;
}
.masthead-brand{
  letter-spacing: 3px;
  font-stretch: extra-expanded;
  font-size: large;
  margin-right: 30px;
  margin-bottom: 0px;
  font-weight: lighter;
  text-align: right;
  padding-right: 4em;

}