
    <!-- <a><button (click)="report()" style="margin-left: 5%;">צפה בדו"ח חודשי</button> </a>
    <div class="frm">
<button routerLink="/addChainsToDreamCards/{{CardTypeCode}}"  style="margin-right:15px;" style="margin-top: 20em;"   class="btn btn-primary">הוסף חנות למועדון</button>
<button routerLink="/addsale" style="margin-left: 20px;" style="margin-top: 15em;"   class="btn btn-primary">הוסף מבצע </button>
</div>
</div> -->

<div class="personal">
    <h1 style=" padding-right: 3em; letter-spacing: 0px; font-size: x-large; margin-right: 50px; margin-bottom:0em;float:inline-start; font-weight: normal ;display: block; text-align: right; margin-top: 30px;" class="masthead-brand" >שלום<a style="margin-top: 30px; font-weight: normal; font-size: x-large;  margin-right: 10px;  color: #007bff; text-align: right;">מנהל</a>  <button   class="exit"  type="btn">יציאה</button></h1>
    <h1 class="masthead-brand" >העסק שלך</h1>
    <form class="frm" >
<button style="margin-top: 8em;margin-left: 6em;"  (click)="report()" class="button"><span style="font-size: 22px; ">צפה בדו"ח חודשי </span></button>
<button style="margin-left: 5em;" routerLink="/addChainsToDreamCards/{{CardTypeCode}}"  class="button"><span style="font-size: 22px;">הוסף חנות למועדון </span></button>
<button style="margin-top: 8em;margin-left: 5em;" routerLink="/addsale" class="button"><span style="font-size: 22px;">הוסף מבצע </span></button>


</form>

</div>
