
<div dir="rtl" style="padding: 0px;margin-right: 11.9em;">
  <ul class="nav justify-content-center">
    <li class="nav-item" style="margin-right: 0px;">
      <a class="nav-link active" routerLink="/welcome">בית</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/userPersonalHomePage">חשבון אישי</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aboutUs">עלינו</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contactUs">צור קשר</a>
    </li>
    <a routerLink="/welcome"> <img src="url(../../../assets/img/logo.png" class="img"  class="box rotate" style=" float: left; width: 7em; height:7em;margin-right: 12em; "> </a>
  </ul>
  </div>
  
  <router-outlet></router-outlet>
  <ngx-scrolltop

  theme="blue"
>
</ngx-scrolltop>