<body dir=rtl >
  <div class="personal" >
    <h1 class="t">קצת עלינו</h1>
    <pre class="txt">
      כיום נמצא בכל רשת, חנות בודדת ואפילו אתר קניות אפשרות להצטרף ולהיות מה שנקרא – "חבר מועדון".
       מאחר ורוב האנשים מממשים אפשרות זאת ומחזיקים בידם הרבה כרטיסי מועדון, הם עלולים להפסיק לעקוב אחרי המבצעים, 
       הנקודות שצברו בכרטיסים השונים, ומפסידים לפעמים אפשרויות של רכישות משתלמות או אפילו מוצרים חינמיים רק בגלל חוסר הארגון...
בנוסף לכך, נכון להיום הלקוחות לא יכולים לדעת את גובה מספר נקודות בכרטיסם באופן נגיש ומיידי
 מבלי להוריד את האפליקציות הקיימות (אם קיימות) לאותן חנויות או להיכנס לאתר האינטרנט שלהן.
  יתר על כן, לקוחות שלהם הרבה כרטיסי מועדון במגוון חנויות-לא תמיד זוכרים שאכן הכרטיס קיים ומה תוקפו
   וגם אם זוכרים-לא עושים בו כל כך שימוש. 
הפלטפורמה מאפשרת שקיפות והנגשת המידע ללקוח אודות חברויות המועדון שלו, כך שהלקוח אינו צריך להיסחב עם שלל
כרטיסי מועדון בארנקו ללא יכולת לדעת מה הסטטוס שלהם (באילו רשתות הוא חבר מועדון, היקף הנקודות שיש ברשותו בכל רשת,
  תוקף חברות המועדון, מבצעים ועוד) ולהיות מוטרד מהודעות ומיילים,
   במקום זה בלחיצת כפתור הוא יוכל לקבל את כל המידע אונליין ובזמן אמת,
    להתעדכן במבצעים החדשים ולהתרשם מהצעות רכישה שונות.( 
      כמו כן הממשק מאפשר לבצע ניתוחים מדויקים על הלקוחות והמוצרים
       ולהתאים את המבצע או הפרסום הרלוונטי ביותר לכל סגמנט בהתאם לניתוח הרגלי הצריכה שלו.) 
יתרה מזאת, מנהלי החנויות המעוניינים בשיווק מרבי ובעליית הצרכנות בחנותם, 
מאפשרים אומנם רכישת כרטיסי מועדון על מנת לחזק את נאמנות הלקוח למותג ולהגדיל את סיכויי רכישותיו בחנות, 
אך אינם יכולים לוודא שהלקוח אכן יעקוב אחרי פרטי חברות המועדון ויהיה מעודכן בכל הפרטים הרלוונטיים.
כדי לייעל את השימוש בכרטיסי המועדון החלטנו לפתח מוצר טכנולוגי שמייצר ערך מוסף
 הן בצד הצרכן והן לצד הרשת הקמעונאית, בכל הקשור לעולם הצרכנות ומועדוני הלקוחות,
  ופיתחנו אתר שמארגן ללקוחות את כל כרטיסי המועדון שלהם במקום אחד.
   כך, בלחיצה אחת ובמקום אחד הם יוכלו לעקוב אחרי כל כרטיסי המועדון שלהם בקלות.
    התוכנה תכיל ממשקים שונים עבור הרשאות שונות: הלקוח יוכל למצוא באתר את כל פרטי המועדון שלו
     : נקודות שצבר, מבצעים רלוונטיים שונים, תאריך סיום החברות במועדון (במידה ויש) וכד'
    , כמו כן האתר יציג ללקוח וישלח הודעה כאשר בכרטיס המועדון שלו יהיה מספר נקודות
      שיאפשר לו לקנות מוצר שימושי הקיים במבצע בלי להוסיף עוד כסף.
     בכך נייצר מעורבות (Engagement) יומיומית וייחודית בין המותג ללקוח.

    </pre>
  </div>
  
  </body>  